body{
    margin: 0;
    padding: 0;
}
#f1{
    text-align: center;
}
.ex1{
    margin-left: 35%;
}

input[type=text],input[type=password]
{
    width: 40%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}